<!-- Student Name: Paul Thottappilly -->
<!-- Group Members: Hassan Chughtai, Ivory Steed, Tony Le, Shekar Balasubramaniam -->  

<html>
    <head>
        <style>
            .text{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: blue;
                font-size: large;
                background-color: black;
            }
        </style>
        <title>Current Date & Time</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body class="text">
        The current date time is {{ctime}}
    </body>
    </html>

